{% extends "base.html" %}

{% block title %}news_all.html{% endblock %}

{% block content %}
<div id="content">

<h1>News  List</h1>

{% for news in newss %}
	<h2><a href = '{{ news.get_absolute_url }}'>{{ news.sn_title }}</a></h2>
	{{ news.modify_date|date:"N d, Y" }}
	<p>{{ news.sn_content }}</p>
{% endfor %}

<br/>

<div>
	<span>
	{% if page_obj.has_previous %}
		<a href="?page={{ page_obj.previous_page_number }}">PreviousPage</a>
	{% endif %}
	
	Page {{  page_obj.has_next }} of {{ page_obj.paginator.num_pages }}
	
	{% if page_obj.has_next %}
		<a href="?page={{ page_obj.next_page_number }}">NextPage</a>
	{% endif %}
	</span>
</div>
</div>
{% endblock %}