<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>INDIMOVIE통계</title>
</head>
<body style="background-color: #354052; color:#EAEAEA; font-family: Comic Sans MS, Jeju Gothic;">
<br>
<div class="reward" style="margin-left: auto; margin-right: auto; text-align:center;">
    <table style="margin-left: auto; margin-right: auto; font-size:30px;">
        <tr>
            <td><img src="{% static 'img/award3.png' %}" style="height:40px; width:40px;"/></td>
            <td>INDI REWARD</td>
        </tr>
    </table>

    <table style="margin-left: auto; margin-right: auto; border-spacing: 10px;">
        <tr>
            <td style="text-align: center;"> 최고 후원 금액 </td>
            <td style="text-align: center;"> {{ statistic.max }}원</td>
        </tr>
        <tr>
            <td style="text-align: center;"> 최고 금액 후원 회원 </td>
            <td style="text-align: center;"> {{ max_user.u_id.u_name }}</td>
        </tr>
        <tr>
            <td style="text-align: center;"> 최고 금액 후원 시나리오 </td>
            <td style="text-align: center;"> "{{ max_scenario.s_title }}"</td>
        </tr>
    </table>
</div>

<br><br>

<table style="margin-left: auto; margin-right: auto; border-spacing: 20px;">
    <tr>
        <td><canvas id="myChart0" style="width: 400px; height: 400px;"></canvas></td>
        <td><canvas id="myChart1" style="width: 400px; height: 380px;"></canvas></td>
    </tr>
</table>
</body>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>
<script>
var ctx0 = document.getElementById('myChart0').getContext('2d');
Chart.defaults.global.defaultFontColor = '#EAEAEA';
var myChart0 = new Chart(ctx0, {
    // type: 차트종류
    type: 'bar',
    data: {
        labels:
        [
        {% for k in monthly_key %}
        '{{ k }}',
        {% endfor %}
        ],
        datasets: [
        {% for t in monthly_tmp %}
        {
            label: '{{ t.0 }}',
            // data만 잘 넣어주시면 됩니다.
            data: {{ t.1 }},//[12, 19, 3, 5, 2, 3],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1,
            fontColor : "rgba(234, 234, 234, 1)"
        },
        {% endfor %}
        ]
    },
    options: {
        defaultFontColor:'#EAEAEA',
        legend: {
				labels: {
					fontColor: "rgba(234, 234, 234, 1)"
				}
			},
        title: {
                display: true,
                text: 'INDIMOVIE 후원금 월별 총액',
                fontColor : "rgba(234, 234, 234, 1)"
            },
        responsive : false,
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true,
                    fontColor : "rgba(234, 234, 234, 1)",
                }
            }]
        }
    }
});

<!-- 시나리오 성공률 차트 -->
var ctx1 = document.getElementById('myChart1').getContext('2d');
var myChart1 = new Chart(ctx1, {
    // type: 차트종류
    type: 'pie',
    data: {
        labels:
        ['성공', '실패', '진행중'],
        datasets: [
        {
            // data만 잘 넣어주시면 됩니다.
            data: {{ scenario }},//[12, 19, 3, 5, 2, 3],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        },
        ]
    },
    options: {
        legend: {
				labels: {
					fontColor: "rgba(234, 234, 234, 1)"
				}
			},
        title: {
                display: true,
                text: '시나리오 펀딩 성공률',
                fontColor : "rgba(234, 234, 234, 1)",
            },
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true,
                    fontColor : "rgba(234, 234, 234, 1)",
                }
            }]
        }
    }
});


</script>
</html>